<div class="container" >
		<div class="row">
			<div class="col-sm-6" >
				<div>
			    <%= image_tag @book.picture_url(:thumb).to_s %>
				</div>
				<div>
					<strong><%= @book.name %></strong>
					<em>By</em>
					<strong><%= @book.author %></strong>
					<button class="btn ">
					 <%= link_to 'delete', @book , :method => :delete  ,  data: { confirm: "You sure?" } %>
				  </button>
				  <% if @availability>0 %>
					  <button class="btn ">
								 <%= link_to 'Issue', issue_book_path(@book) %>
						</button>
					<% end %>
				</div>
			</div>
		</div>
	</div>