<div class="container" >
		<div class="row">
			<div class="col-sm-8" >
				<div>
			    <%= image_tag @book.picture_url.to_s, class:"show-book" %>
				</div>
				<div>
					<strong><%= @book.name %></strong>
					<em>By</em>
					<strong><%= @book.author %></strong>
					<div>
						<button class="btn ">
						 <%= link_to 'Delete', @book, :method => :delete,  data: { confirm: "You sure?" }%>
					  </button>
					  <% if @availability>0 %>
						  <button class="btn ">
								<%= link_to 'Issue', issue_book_path(@book) %>
							</button>
						<% end %>
						<button class="btn ">
							<%= link_to 'IssueHistory', issue_record_book_path(@book) %>
						</button>
						<h3> Copies Available for issue: <%= @availability %></h3>
					</div>
					<div>
						<% if @active_issue_details.count>0 %>
								<%= render 'details' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>