<%= form_for(@issue_detail) do |f| %>
  <%= render 'welcome/error_messages', object: f.object %>
  <div><%= hidden_field_tag :book_id, @book.id %></div>
  <div class="container">
    <div class="field">
      <%= f.label "Student Id" %><br />
      <%= f.text_field :student_id %>
    </div>

    <div class="field">
      <%= f.label "Issue Date" %><br />
      <%= f.date_select :issue_date %>
    </div>

    <div class="field">
      <%= f.label "Expected Return" %><br />
      <%= f.date_select :exp_recieved_date %>
    </div>

    <div class="actions">
      <button class="btn " type="button"><%= f.submit"Submit" %></button>
    </div>
  </div>
<% end %>
