<%= form_for(@book, :html => {:multipart => true}) do |f| %>
  <div>
	  <%= f.label :name %>
	  <%= f.text_field :name %>
  </div>
  <div>
	  <%= f.label :author %>
	  <%= f.text_field :author %>
  </div>
  <div>
	  <%= f.label :no_of_copies %>
	  <%= f.text_field :no_of_copies %>
  </div>
  <div>
  	<%= f.file_field :picture %>
  </div>
  <div>
  	<%= f.submit "Submit" %>
  </div>
<% end %>