  
<div class="form-signin" align="center">
  <%= form_for(@book, :html => {:multipart => true}) do |f| %>
    <%= render 'welcome/error_messages', object: f.object %>
    <div class="field">
  	  <%= f.text_field :name, placeholder:"Book Name", class:"form-control" %>
    </div>
    <div class='field'>
  	  <%= f.text_field :author, placeholder:"Author Name", class:"form-control" %>
    </div>
    <div class="field">
  	  <%= f.text_field :no_of_copies, placeholder:"No of copies", class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label "Book Image" %><br/>
    	<%= f.file_field :picture %>
    </div>
    <div class="actions">
    	<%= f.submit "Submit", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>