<%= form_for(@book, :html => {:multipart => true}) do |f| %>
  <%= render 'welcome/error_messages', object: f.object %>
  <div class="container">
    <div class="field">
  	  <%= f.label "Name" %><br/>
  	  <%= f.text_field :name %>
    </div>
    <div class='field'>
  	  <%= f.label "Author" %><br/>
  	  <%= f.text_field :author %>
    </div>
    <div class="field">
  	  <%= f.label "No_of_copies" %><br/>
  	  <%= f.text_field :no_of_copies %>
    </div>
    <div class="field">
      <%= f.label "Add" %><br/>
    	<%= f.file_field :picture %>
    </div>
    <div class="actions">
    	<%= f.submit "Submit" %>
    </div>
  </div>
<% end %>