<div class="form-signin" align="center">  
  <%= form_for(@issue_detail) do |f| %> 
      <div class="field">
        <%= f.label "Roll no." %><br />
        <%= f.text_field :student_id, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label "Issue Date" %><br />
        <%= f.text_field :issue_date, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label "Expected Return" %><br />
        <%= f.text_field :issue_date, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label "Actual Return" %><br />
        <%= f.date_field :act_recieved_date, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label "Fine" %><br />
        <%=  f.text_field :fine, class:"form-control" %>
        
      </div>

      <div class="actions">
        <%= f.submit"Submit", class:"btn btn-primary" %>
      </div>
  <% end %>
</div>
