<div class="form-signin" align="center">  
  <%= form_for(@issue_detail) do |f| %> 
    <div class="field">
      <h4>Roll No. </h4><%= f.text_field :student_id, class:"form-control" %>
    </div>

    <div class="field">
      <h4>Issue Date</h4><%= f.text_field :issue_date, class:"form-control" %>
    </div>

    <div class="field">
      <h4>Expected Return </h4><%= f.text_field :issue_date, class:"form-control" %>
    </div>

    <div class="field">
      <h4>Actual Return</h4><%= f.date_field :act_recieved_date, class:"form-control" %>
    </div>

    <div class="field">
      <h4>Fine</h4><%= f.text_field :fine, class:"form-control" %>
      
    </div>

    <div class="actions">
      <%= f.submit"Submit", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
